/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}


.link { color: #212121; } /* CSS link color (sombre) */
.link:hover { color: #FAFAFA; } /* CSS link hover (white) */


/* Eléments principaux de la page */

body
{
font-family: 'Trebuchet MS', Arial, sans-serif;
color: #181818;
}

ul{
 list-style-type: none;
 text-align: left;
 font-size:1.3em;
list-style-position: outside;
  
}

/*bande a gauche */
h2{
    color:rgba(255,111,0 ,1);
}

#liseret
{
    background-color: rgba(255,111,0 ,1);
    padding: 0px;
    text-align: center;

}
#liseret2
{
    background-color: rgba(255,111,0 ,1);
    padding: 0px;
    text-align: center;

}


.loisir
 {

margin-top: 600px;
width: 100%;
background-color: rgba(33,33,33 ,1)

}
.iconeloisir
{

margin-top: 20px;
margin-bottom: 20px;

}

.contact
{

background-color: rgba(33,33,33 ,1)
   
}

.texte
{

    text-align: justify;
    margin: 10px;
    padding: 15px;
    color:black;
}
.couleurtexte
{
    color: rgba(255,111,0 ,1);
}
/* rond autour de la photo */ 
.rondavatar {
    width:200px;
    border-radius:50%; 
    padding : center;
    margin: 20px;
        
}

.hauteur
{
    height: 300px; 

}
.fab
    {
        color: white;
        font-size:2em;
    }
.fas
    {
        color: white;
        font-size:2em;
    }   

.fa-graduation-cap
    {
        color: rgba(255,111,0 ,1);
        font-size:2em;    
    }
.fa-briefcase
{
    color: rgba(255,111,0 ,1);
    font-size:2em;    
}
.fa-pen-fancy
{
    color: rgba(255,111,0 ,1);
    font-size:2em;    
}    
.iconeadroite
    {
        float:left;
        margin-right:50px;
        font-size: 2em;

    } 
.traie
{
 border-bottom : 2px solid rgba(255,111,0 ,1);   
}
